@import '../../styles/font-sizes.scss';
@import '../../styles/spacings.scss';
@import '../../styles/colors.scss';

.championship {
  width: 300px;
  margin: $default-margin;
  transition: 0.3s;

  &:hover {
    background-color: $primary;
    cursor: pointer;

    p {
      color: $white;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: $font-size-small;
      color: $gray;
    }
  }

  &__season {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: $font-size-medium;
      color: $black;
    }
  }
}
