@import '../../styles/font-sizes.scss';
@import '../../styles/spacings.scss';
@import '../../styles/colors.scss';

.championship {
  width: 300px;
  margin: $default-margin / 4 $default-margin;
  transition: 0.3s;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 5px 0px $red;
    -moz-box-shadow: 1px 1px 5px 0px $red;
    box-shadow: 1px 1px 5px 0px $red;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: $font-size-small;
      color: $gray;
    }
  }

  &__season {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: $font-size-medium;
      color: $black;
    }
  }

}
