<mat-card class="card">
  <mat-card-content>
    <div class="card__heading">
      <p>
        <a [href]="race.url" target="_blank">{{race.raceName}}</a>
        <mat-icon class="icon">keyboard_arrow_right</mat-icon>
        <span>{{race.Circuit.circuitName}}</span>
      </p>
      <p>Round {{race.round}}</p>
    </div>
    <div class="card__content">
      <div class="card__content____center">
        <p>Date</p>
        <p>{{race.date | date : 'EEEE, d LLLL y'}}</p>
      </div>
      <div class="card__content____center">
        <p>Winner</p>
        <p [matTooltip]="race.Results[0].Driver | driverBirthday">
          <a class="card__content____center______link" [href]="race.Results[0].Driver.url"
            target="_blank">{{race.Results[0].Driver | driverName}}</a>
        </p>
      </div>
      <div class="card__content____center spacing">
        <p>Finish Time</p>
        <p>
          {{race.Results[0].Time.time}}
        </p>
      </div>
    </div>
    <div class="card__footer" *ngIf="race.Results[0].Driver.driverId === champion.Driver.driverId">
      <p>World Champion</p>
    </div>
  </mat-card-content>
</mat-card>
