@import '../../../styles/colors.scss';
@import '../../../styles/spacings.scss';
@import '../../../styles/font-sizes.scss';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.back {
  display: flex;
  align-items: center;
  margin-top: $default-margin;
  justify-content: space-between;
  width: 90px;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $red;
  }

  span {
    font-size: $font-size-medium;
    color: $black;
  }
}
