@import './styles/colors.scss';
@import './styles/spacings.scss';

.mat-toolbar {
  background-color: $black;

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;

    p {
      color: $white;
      margin: 0 $default-margin;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  }

}
