@import '../../styles/font-sizes.scss';
@import '../../styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: $font-size-large;
    color: $black;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
}
